<form action="/items" method="post">
<legend>How full is your gas tank</legend>

<label for="gasTank">1/4 Tank</label>
<input type="checkbox" name="gasTank" value="1/4 tank">

<label for="gasTank">1/2 Tank</label>
<input type="checkbox" name="gasTank" value="1/2 tank">

<label for="gasTank">3/4 Tank</label>
<input type="checkbox" name="gasTank" value="3/4 tank">

<label for="gasTank">Full Tank</label>
<input type="checkbox" name="gasTank" value="Full tank">

<br>
<legend>Do you have roadside assistance?</legend>
<label for="roadSideAsst">Yes</label>
<input type="checkbox"  name="roadSideAsst" value="Yes">
<label for="roadSideAsst">Nah</label>
<input type="checkbox"  name="roadSideAsst" value="Nah">

<br>
<label for="music">What kind of tunes are you bringing?</label>
<input type="text" id="music" name="music">
<br>
<label for="snacks">What kind of snacks are you bringing?</label>
<input type="text" id="snacks" name="snacks">
<br>
<legend>Do you have a map?</legend>
<label for="map">Yes</label>
<input type="checkbox"  name="map" value="Yes">
<label for="map">Nah</label>
<input type="checkbox"  name="map" value="Nah">
<br>
<button type="submit">Submit</button>

</form>