<!-- HOME/INDEX.CSHTML IS THE MAIN HOME FORM -->
<h1>You're Taking A Trip!</h1>
<h3>Map out all that you need in order to get started in your adventure.</h3>

<a href='/items/new'>Add something to your packing list</a>